{% extends"temp.html" %}
{% block title %}Set Residence for a Citizen{% endblock %}
{% block content %}
    <h1>Set Residence for a Citizen</h1>

    <div class="form-group" style="width: 200px; margin: auto">
    <form action="" method="post" name="new_building">
        <label for="apartment_id" style="color: #111111" >ApartmentId</label>
        <div class="control">
            <select class="form-select" aria-label="Default select example" required="required" name="apartment_id">
                <option selected>Pick One</option>
                {% for cit in aps %}
                <option value="{{ cit[0] }}">{{ cit[0] }}</option>
                {% endfor %}
            </select>
        </div>
        <label for="citizen_id" style="color: #111111" >CitizenId</label>
        <select class="form-select" aria-label="Default select example" required="required" name="citizen_id">
            <option selected>Pick One</option>
            {% for cit in citizen %}
            <option value="{{ cit[0] }}">{{ cit[0] }}</option>
            {% endfor %}
        </select>

      <div class="field is-grouped">
          <button type="submit" class="btn btn-primary">Set</button>
        </div>
    </form>
    </div>
{% endblock %}